@media print {
  /* Ocultar todo excepto el comprobante */
  body * {
    visibility: hidden;
  }
  
  .print-section,
  .print-section * {
    visibility: visible;
  }
  
  .print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Ocultar botones al imprimir */
  button {
    display: none !important;
  }
}
