<div class="bg-white shadow-md rounded-lg p-6 border border-gray-200">
  <h2 class="text-xl font-semibold text-blue-700 mb-4">
    Información Personal
  </h2>

  <form [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <!-- Tipo Documento -->
    <div>
      <label class="block text-sm font-medium mb-1">Tipo de Documento</label>

      <div class="flex gap-4 mt-2">
        <label class="flex items-center">
          <input type="radio" formControlName="tipoDocumento" value="CC" class="mr-2 w-4 h-4 accent-blue-600">
          <span>CC</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="tipoDocumento" value="TI" class="mr-2 w-4 h-4 accent-blue-600">
          <span>TI</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="tipoDocumento" value="CE" class="mr-2 w-4 h-4 accent-blue-600">
          <span>CE</span>
        </label>
      </div>
    </div>

    <!-- Número Documento -->
    <div>
      <label class="block text-sm font-medium mb-1">Número de Documento</label>
      <input formControlName="numeroDocumento" type="text" placeholder="Ej: 1023456789"
        class="w-full border rounded px-3 py-2" />
      <p *ngIf="form.get('numeroDocumento')?.touched && form.get('numeroDocumento')?.invalid"
        class="text-red-500 text-sm mt-1">Campo obligatorio (mínimo 6 dígitos)</p>
    </div>

    <!-- Lugar Expedición -->
    <div>
      <label class="block text-sm font-medium mb-1">Lugar de Expedición</label>
      <input formControlName="lugarExpedicion" type="text" placeholder="Ej: Bogotá"
        class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Ciudad Nacimiento -->
    <div>
      <label class="block text-sm font-medium mb-1">Ciudad de Nacimiento</label>
      <input formControlName="ciudadNacimiento" type="text" placeholder="Ej: Medellín"
        class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Fecha Nacimiento -->
    <div>
      <label class="block text-sm font-medium mb-1">Fecha de Nacimiento</label>
      <input formControlName="fechaNacimiento" type="date" class="w-full border rounded px-3 py-2" />
      <p *ngIf="form.get('fechaNacimiento')?.touched && form.get('fechaNacimiento')?.invalid"
        class="text-red-500 text-sm mt-1">Selecciona una fecha válida</p>
    </div>

    <!-- Fecha Expedición -->
    <div>
      <label class="block text-sm font-medium mb-1">Fecha de Expedición</label>
      <input formControlName="fechaExpedicion" type="date" class="w-full border rounded px-3 py-2" />
      <p *ngIf="form.get('fechaExpedicion')?.touched && form.get('fechaExpedicion')?.invalid"
        class="text-red-500 text-sm mt-1">Selecciona una fecha válida</p>
    </div>

    <!-- Primer Nombre -->
    <div>
      <label class="block text-sm font-medium mb-1">Primer Nombre</label>
      <input formControlName="primerNombre" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Segundo Nombre -->
    <div>
      <label class="block text-sm font-medium mb-1">Segundo Nombre</label>
      <input formControlName="segundoNombre" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Primer Apellido -->
    <div>
      <label class="block text-sm font-medium mb-1">Primer Apellido</label>
      <input formControlName="primerApellido" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Segundo Apellido -->
    <div>
      <label class="block text-sm font-medium mb-1">Segundo Apellido</label>
      <input formControlName="segundoApellido" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Género -->
    <div>
      <label class="block text-sm font-medium mb-2">Género</label>
      <div class="space-y-2">
        <div class="flex items-center">
          <input type="radio" id="generoMasculino" formControlName="genero" value="M"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="generoMasculino" class="ml-2 text-sm">Masculino</label>
        </div>
        <div class="flex items-center">
          <input type="radio" id="generoFemenino" formControlName="genero" value="F"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="generoFemenino" class="ml-2 text-sm">Femenino</label>
        </div>
      </div>
    </div>
    <!-- Nacionalidad -->
    <div>
      <label class="block text-sm font-medium mb-1">Nacionalidad</label>

      <div class="flex flex-col gap-2 mt-2">
        <label class="flex items-center">
          <input type="radio" formControlName="nacionalidad" value="Colombiano" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Colombiano</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="nacionalidad" value="Estadounidense"
            class="mr-2 w-4 h-4 accent-blue-600">
          <span>Estadounidense</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="nacionalidad" value="Otra" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Otra</span>
        </label>
      </div>
    </div>
    <!-- Otra Nacionalidad -->
    <div>
      <label class="block text-sm font-medium mb-1">Otra Nacionalidad</label>
      <input formControlName="otraNacionalidad" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <!-- Estado Civil -->
    <div>
      <label class="block text-sm font-medium mb-2">Estado Civil</label>
      <div class="space-y-2">
        <div class="flex items-center">
          <input type="radio" id="estadoCivilSoltero" formControlName="estadoCivil" value="Soltero"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="estadoCivilSoltero" class="ml-2 text-sm">Soltero</label>
        </div>
        <div class="flex items-center">
          <input type="radio" id="estadoCivilCasado" formControlName="estadoCivil" value="Casado"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="estadoCivilCasado" class="ml-2 text-sm">Casado</label>
        </div>
        <div class="flex items-center">
          <input type="radio" id="estadoCivilDivorciado" formControlName="estadoCivil" value="Divorciado"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="estadoCivilDivorciado" class="ml-2 text-sm">Divorciado</label>
        </div>
        <div class="flex items-center">
          <input type="radio" id="estadoCivilViudo" formControlName="estadoCivil" value="Viudo"
            class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
          <label for="estadoCivilViudo" class="ml-2 text-sm">Viudo</label>
        </div>
      </div>
    </div>

    <!-- Grupo Étnico -->
    <div>
      <label class="block text-sm font-medium mb-1">Grupo Étnico</label>

      <div class="flex flex-col gap-2 mt-2">
        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Indígena" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Indígena</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Gitano" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Gitano</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Raizal" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Raizal</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Palenquero" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Palenquero</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Afrocolombiano" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Afrocolombiano</span>
        </label>

        <label class="flex items-center">
          <input type="radio" formControlName="grupoEtnico" value="Ninguna" class="mr-2 w-4 h-4 accent-blue-600">
          <span>Ninguna</span>
        </label>
      </div>
    </div>

  </form>

  <div class="mt-6 flex justify-end">
    <button (click)="guardarSeccion()" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg shadow">
      Guardar y Continuar
    </button>
  </div>
</div>


<!-- <div class="bg-white shadow-md rounded-lg p-6 border border-gray-200">
  <h2 class="text-xl font-semibold text-blue-700 mb-4">
    Datos Personales
  </h2>

  <form [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-4"> -->

<!-- Tipo de Documento -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Tipo de Documento</label>
      <select formControlName="tipoDocumento" class="w-full border rounded px-3 py-2">
        <option value="">Seleccione...</option>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="CE">Cédula de Extranjería</option>
        <option value="TI">Tarjeta de Identidad</option>
      </select>
      <p *ngIf="form.get('tipoDocumento')?.touched && form.get('tipoDocumento')?.invalid"
         class="text-red-500 text-sm mt-1">Campo obligatorio</p>
    </div> -->

<!-- Número de Documento -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Número de Documento</label>
      <input
        formControlName="numeroDocumento"
        type="text"
        class="w-full border rounded px-3 py-2"
        placeholder="Ej: 1234567890"
      />
      <p *ngIf="form.get('numeroDocumento')?.touched && form.get('numeroDocumento')?.invalid"
         class="text-red-500 text-sm mt-1">Campo obligatorio</p>
    </div> -->

<!-- Lugar de expedición -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Lugar de Expedición</label>
      <input formControlName="lugarExpedicion" type="text" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Ciudad de nacimiento -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Ciudad de Nacimiento</label>
      <input formControlName="ciudadNacimiento" type="text" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Fechas -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Fecha de Nacimiento</label>
      <input formControlName="fechaNacimiento" type="date" class="w-full border rounded px-3 py-2" />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Fecha de Expedición</label>
      <input formControlName="fechaExpedicion" type="date" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Nombres -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Primer Nombre</label>
      <input formControlName="primerNombre" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Segundo Nombre</label>
      <input formControlName="segundoNombre" type="text" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Apellidos -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Primer Apellido</label>
      <input formControlName="primerApellido" type="text" class="w-full border rounded px-3 py-2" />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Segundo Apellido</label>
      <input formControlName="segundoApellido" type="text" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Género -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Género</label>
      <select formControlName="genero" class="w-full border rounded px-3 py-2">
        <option value="">Seleccione...</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="O">Otro</option>
      </select>
    </div> -->

<!-- Nacionalidad -->
<!-- <label class="block text-sm font-medium mb-1">Nacionalidad</label>
    <select formControlName="nacionalidad" class="border rounded px-3 py-2 w-full">
      <option value="">Seleccione...</option>
      <option value="Colombiano">Colombiano</option>
      <option value="Estadounidense">Estadounidense</option>
      <option value="Otra">Otra</option>
    </select> -->

<!-- Otra nacionalidad -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Otra Nacionalidad</label>
      <input formControlName="otraNacionalidad" type="text" class="w-full border rounded px-3 py-2" />
    </div> -->

<!-- Estado civil -->
<!-- <div>
      <label class="block text-sm font-medium mb-1">Estado Civil</label>
      <select formControlName="estadoCivil" class="w-full border rounded px-3 py-2">
        <option value="">Seleccione...</option>
        <option value="Soltero">Soltero(a)</option>
        <option value="Casado">Casado(a)</option>
        <option value="Unión libre">Unión libre</option>
        <option value="Divorciado">Divorciado(a)</option>
      </select>
    </div> -->

<!-- Grupo étnico -->
<!-- <label class="block text-sm font-medium mb-1">Grupo Étnico</label>
<select formControlName="grupoEtnico" class="border rounded px-3 py-2 w-full">
  <option value="">Seleccione...</option>
  <option value="Indígena">Indígena</option>
  <option value="Gitano">Gitano</option>
  <option value="Raizal">Raizal</option>
  <option value="Palenquero">Palenquero</option>
  <option value="Afrocolombiano">Afrocolombiano</option>
  <option value="Ninguno">Ninguno</option>
</select>
  </form>
</div> -->