<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="form-container" (ngSubmit)="registrarCliente()">
  <!-- Sección: Información Personal -->
  <section class="form-section">
    <h3>Información Personal</h3>
    <!-- <app-info-personal [datosPersonales]="datosPersonales"></app-info-personal> -->
  </section>

  <!-- Sección: Contacto Personal -->
  <section class="form-section">
    <h3>Contacto Personal</h3>
    <app-contacto-personal [datosContacto]="datosContacto"></app-contacto-personal>
  </section>

  <!-- Sección: Información Laboral -->
  <section class="form-section">
    <h3>Información Laboral</h3>
    <app-informacion-laboral [datosLaborales]="datosLaborales"></app-informacion-laboral>
  </section>

  <!-- Botón de acción -->
  <div class="form-actions">
    <button type="submit" class="btn-registrar">
      Registrar Cliente
    </button>
  </div>
</form>

</body>
</html>