@import "tailwindcss";

/* Aplicar la fuente Inter a toda la aplicación */
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

/* Mover la flechita del select hacia la izquierda */
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  appearance: none;
}

/* Estilo para el ítem activo del menú */
.active-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  padding-top: 10px !important;     /* Ajusta altura interna */
  padding-bottom: 10px !important;
  background-color: #eff6ff !important;
  color: oklch(37.9% 0.146 265.522) !important;
  font-weight: 600 !important;
  border-left: none !important;
}


.active-menu-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;               /* Empezar desde arriba */
  transform: none;      /* Sin mover */
  width: 5px;
  height: 100%;         /* Cubrir toda la altura */
  background-color: #1e40af;
  border-radius: 0 999px 999px 0; /* Bordes redondeados */
}